{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <h2 class="lead">Продукты в категории {{category.name}}</h2>
    {% for product in products %}
      <div class="my-3 py-3">
        <p class="display-5">Название: {{product.name}}</p>
        <p class="lead">Описание: {{product.description}}</p>
        <p class="lead">Стоимость: {{product.price}}</p>
        <a href="{% url 'catalog:category_list' %}" class="btn btn-primary" role="button" >Назад</a>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}